<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>znwtpgr7P8NWcz1bysqGGMgNl</string>
	<key>consumer_Secret</key>
	<string>H2YOKjxJ0lekeWl2oAWM1dOh1oIbJB3ijEhe3BAZJ5VgnCOo6V</string>
</dict>
</plist>
